<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/" class="d-block w-1000" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://acdn.mitiendanube.com/stores/001/979/534/themes/gardener/2-slide-1726587710596-8054695296-deeaa1e8d5268b1cf03f9e22316ba3ca1726587712-1024-1024.webp?2063318825" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://acdn.mitiendanube.com/stores/001/979/534/themes/gardener/2-slide-1725368732013-8284572057-79616405d78ac4e9b2c36c2fe5b485531725368733-1024-1024.webp?2063318825" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

<div class="col">
    <app-card
    (productoAgregado)="productoAnadido($event)"
    [productoReciente]="product"
    ></app-card>
</div>