<div class="carousel-inner">
    <div class="carousel-item active">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="#777" />
        </svg> -->
        <img class="img" src="../../../../../assets/pexels-bylukemiller-14484889.jpg" height="50%" alt="">

        <!-- <div class="container">
            <div class="carousel-caption text-start">
                <h1>Example headline.</h1>
                <p>Some representative placeholder content for the first slide of the carousel.</p>
                <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
            </div>
        </div> -->
        <div class="content-title">
            <p class="title-palos">Herramientas de entrenamiento</p>
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio veniam mollitia delectus
                qui, molestiae error repudiandae adipisci, porro, quisquam cumque corporis. Unde, repudiandae nobis
                provident sit temporibus dolores vel ex!</p>
        </div>

    </div>

</div>
<div class="content my-5">
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <p class="title">Productos destacados</p>

        <div class="row">
            <div class="col-lg-4 crd col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" width="30" height="30" src="../../../../../assets/tool1.png"
                            alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <p>Pizarra DT MALIK con Imanes</p>
                            <p class="desc-prod">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores tempora rerum nihil
                                pariatur vitae reprehenderit officiis fugit harum sequi id inventore deserunt debitis
                                qui animi itaque perspiciatis, sunt nisi consequuntur.</p>
                        </h4>
                        <h2 class="card-text">$99.000</h2>
                        <button class="btn btn-primary">
                            Agregar Al carrito
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="../../../../../assets/tool2.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <p>Pizarra DT MALIK con Imanes</p>
                            <p class="desc-prod">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores tempora rerum nihil
                                pariatur vitae reprehenderit officiis fugit harum sequi id inventore deserunt debitis
                                qui animi itaque perspiciatis, sunt nisi consequuntur.</p>
                        </h4>
                        <h2 class="card-text">$99.000</h2>
                        <button class="btn btn-primary">
                            Agregar Al carrito
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="../../../../../assets/tool3.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <p>Pizarra DT MALIK con Imanes</p>
                            <p class="desc-prod">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores tempora rerum nihil
                                pariatur vitae reprehenderit officiis fugit harum sequi id inventore deserunt debitis
                                qui animi itaque perspiciatis, sunt nisi consequuntur.</p>
                        </h4>
                        <h2 class="card-text">$99.000</h2>
                        <button class="btn btn-primary">
                            Agregar Al carrito
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="../../../../../assets/tool4.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <p>Pizarra DT MALIK con Imanes</p>
                            <p class="desc-prod">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores tempora rerum nihil
                                pariatur vitae reprehenderit officiis fugit harum sequi id inventore deserunt debitis
                                qui animi itaque perspiciatis, sunt nisi consequuntur.</p>
                        </h4>
                        <h2 class="card-text">$99.000</h2>
                        <button class="btn btn-primary">
                            Agregar Al carrito
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="../../../../../assets/tool5.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <p>Pizarra DT MALIK con Imanes</p>
                            <p class="desc-prod">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores tempora rerum nihil
                                pariatur vitae reprehenderit officiis fugit harum sequi id inventore deserunt debitis
                                qui animi itaque perspiciatis, sunt nisi consequuntur.</p>
                        </h4>
                        <h2 class="card-text">$99.000</h2>
                        <button class="btn btn-primary">
                            Agregar Al carrito
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="../../../../../assets/tool6.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <p>Pizarra DT MALIK con Imanes</p>
                            <p class="desc-prod">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores tempora rerum nihil
                                pariatur vitae reprehenderit officiis fugit harum sequi id inventore deserunt debitis
                                qui animi itaque perspiciatis, sunt nisi consequuntur.</p>
                        </h4>
                        <h2 class="card-text">$99.000</h2>
                        <button class="btn btn-primary">
                            Agregar Al carrito
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->



    </div>
    <!-- /.container -->
</div>