<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <p class="title">Productos destacados</p>

    <div class="row">
        <div class="col-lg-4 crd col-sm-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" width="30" height="30" src="../../../../../assets/prod1.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <p >Pizarra DT MALIK con Imanes</p>
                        <p class="desc-prod">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores tempora rerum nihil pariatur vitae reprehenderit officiis fugit harum sequi id inventore deserunt debitis qui animi itaque perspiciatis, sunt nisi consequuntur.</p>
                    </h4>
                    <h2 class="card-text">$99.000</h2>
                    <button class="btn btn-primary">
                        Agregar Al carrito
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="../../../../../assets/prod2.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <p >Pizarra DT MALIK con Imanes</p>
                        <p class="desc-prod">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores tempora rerum nihil pariatur vitae reprehenderit officiis fugit harum sequi id inventore deserunt debitis qui animi itaque perspiciatis, sunt nisi consequuntur.</p>
                    </h4>
                    <h2 class="card-text">$99.000</h2>
                    <button class="btn btn-primary">
                        Agregar Al carrito
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="../../../../../assets/prod3.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <p >Pizarra DT MALIK con Imanes</p>
                        <p class="desc-prod">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores tempora rerum nihil pariatur vitae reprehenderit officiis fugit harum sequi id inventore deserunt debitis qui animi itaque perspiciatis, sunt nisi consequuntur.</p>
                    </h4>
                    <h2 class="card-text">$99.000</h2>
                    <button class="btn btn-primary">
                        Agregar Al carrito
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="../../../../../assets/prod1.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <p >Pizarra DT MALIK con Imanes</p>
                        <p class="desc-prod">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores tempora rerum nihil pariatur vitae reprehenderit officiis fugit harum sequi id inventore deserunt debitis qui animi itaque perspiciatis, sunt nisi consequuntur.</p>
                    </h4>
                    <h2 class="card-text">$99.000</h2>
                    <button class="btn btn-primary">
                        Agregar Al carrito
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="../../../../../assets/prod2.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <p >Pizarra DT MALIK con Imanes</p>
                        <p class="desc-prod">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores tempora rerum nihil pariatur vitae reprehenderit officiis fugit harum sequi id inventore deserunt debitis qui animi itaque perspiciatis, sunt nisi consequuntur.</p>
                    </h4>
                    <h2 class="card-text">$99.000</h2>
                    <button class="btn btn-primary">
                        Agregar Al carrito
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="../../../../../assets/prod3.png" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <p >Pizarra DT MALIK con Imanes</p>
                        <p class="desc-prod">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores tempora rerum nihil pariatur vitae reprehenderit officiis fugit harum sequi id inventore deserunt debitis qui animi itaque perspiciatis, sunt nisi consequuntur.</p>
                    </h4>
                    <h2 class="card-text">$99.000</h2>
                    <button class="btn btn-primary">
                        Agregar Al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

   

</div>
<!-- /.container -->